<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/harjoitustyo_test/src/harjoitustyo_test/DatePickerPopupDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="harjoitustyo_test.DatePickerPopupDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="harjoitustyo_test"/>
</launchConfiguration>
